!!!5
%html
  %head
    = Haml::Engine.new(File.read('src/home/_head.html.haml')).render
  %body
    (develop)
    .main
      .checkBtn
        %a.checkin(href="isReservation.html") 訂房
        %a.checkout(href="checkout.html") 退房