!!!5
%html
	%head
		= Haml::Engine.new(File.read('src/home/_head.html.haml')).render
	%body
		.main
			.info
				%p
					%span.name(style="color: blue;") 王大明
					%sapn  先生，您已完成訂房手續：
				%table
					%tbody
						%tr
							%td 飯店代號
							%td KCSYS
							%td 訂房單號
							%td A17123557
						%tr
							%td OTA單號
							%td TSC-05504
							%td 房間號碼
							%td 1003
						%tr
							%td 入住日期
							%td 2019/01/01
							%td 離開日期
							%td 2020/01/01				
			.confirmBtn(style="margin: 2rem;")
				%a.checkin(href="index.html" style="padding: .5rem 1rem;") 完成